/* css styles */

h1 {
  color: #CC79A7;
  letter-spacing: 5px;
  font-family: 'Poppins', monospace;
}

h2 {
  color: #0072B2;
  letter-spacing: 5px;
  font-family: 'Poppins', monospace;
}
h3 {
  color: #0072B2;
  letter-spacing: 5px;
  font-family: 'Poppins', monospace;
}
h4 {
  color: #0072B2;
  letter-spacing: 5px;
  font-family: 'Poppins', monospace; 
}


